.item {
    .show-progress {
        padding: 0.28rem 0;
        background-color: #323232;

        .progress {
            height: 0.3rem;
            border-radius: 0;

            .progress-bar {
                background-color: #22c580;
            }
        }
    }
}
