.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    //position: fixed;
    //bottom: 0;
    left: 0;
    //height: 300px;
    //width: 1280px;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
